<div class="wrapper bg-light">

    <div class="jumbotron text-center bg-dark text-light">
        <h1 class="display-4">Mongo Scraper: Houseplant Edition</h1>
        <hr class="my-4">
        <p class="lead ">This app scrapes articles from Better Homes &amp; Gardens</p>
        <p class="lead">
            <a class="btn btn-outline-success btn-lg" href="/scrape" role="button">Scrape New Articles</a>
            <a class="btn btn-outline-success btn-lg" href="/viewsaved" role="button">View Saved Articles</a>
        </p>
    </div>

    <div class="row mx-auto">
        
        {{#each articles}}
        {{#unless saved}}
        <div class="article col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card border border-success">
                <img class="card-img-top" src={{imgURL}} alt={{imgAltText}}>
                <div class="card-body">
                    <h4 class="card-title text-center">
                        <a href={{articleURL}} target="_blank">{{title}}</a>
                    </h4>
                    <a id="{{_id}}" class="save-article btn btn-block btn-outline-success">Save Article</a>
                </div>

            </div>
        </div>
        {{/unless}}
        {{/each}}
        
    </div>

    <footer class="footer">
        <div class="container">
            <p>Better Homes &amp; Gardens Mongo Scraper</p>
        </div>
    </footer>

</div>